<h1>Meals</h1>
<p>Our beach resort offers a variety of delicious meals to satisfy your cravings:</p>
<ul>
	<li>Seafood Platter</li>
	<li>Island BBQ</li>
	<li>Fresh Fruit Breakfast</li>
	<li>Vegetarian Options</li>
</ul>