<h1>Latest News</h1>
<ul>
	<li>
		<h2>2023 Best Beaches Contest Winners</h2>
		<p>Travlr Getaways has been voted one of the top 5 beach destinations!</p>
	</li>
	<li>
		<h2>Top 10 Diving Spots</h2>
		<p>Our local dive instructors guide you through unforgettable underwater adventures.</p>
	</li>
</ul>